:root{
    --primary-header-color:  #FFFFFF;
    --second-header-color: #212121;
    --accent-color: #757575;
    --primary-link-color: #2196F3;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background: #F5F5F5;

}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.btn{

}

/*--------------------HEADER--------------------*/

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-header-color);
}
.accent-text {
    color: #2196F3;
}
.header-text-studio{
    color: var(--primary-link-color);
}


.header-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-header-color);
}
.header-contacts{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);

}

.header-list :hover,
.header-list :focus,
.header-contacts :hover,
.header-contacts :focus,
.header-text :hover,
.header-text :focus
{
    color:  var(--primary-link-color);
}
/*--------------------PORTFOLIO--------------------*/
.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: #2196F3;
    cursor: pointer;
}
.portfolio-btn-link{
    list-style-type: none;
}
.portfolio-btn-active{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primary-header-color);
    background: #2196F3;
}
.portfolio-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--second-header-color);
}
.visually-hidden{
    visibility: hidden;
}

.portfolio-project-list {
    color: var(--second-header-color);
}
.portfolio-list{
    list-style-type: none;
}


.portfolio-title {
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--second-header-color);
}

.portfolio-pre-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--second-header-color);
}
/*--------------------MAIN--------------------*/
.main-cap{
    background-color: #2F303A;
}
.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-header-color);

}
.main-btn {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-header-color);
    background: var(--primary-link-color);
}
.main-btn:hover,
.main-btn:focus {
    cursor: pointer;
}

/*--------------------FEATURE--------------------*/
.feature-list-items{
    list-style-type: none;
}

.feature-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-header-color);
    
    }
    .feature-title-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--accent-color);
    
    }
/*--------------------BOX--------------------*/
.box-list-items{
    list-style-type: none; 
}

.box-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-header-color);
}

/*--------------------TEAM--------------------*/

.team-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-header-color);
}
.team-list-img{
    list-style-type: none; 
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-header-color);
}
.team-work {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

/*--------------------FOOTER--------------------*/


.footer {
    background: #2F303A;
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-header-color);
}
.footer-accent-text{
    color: #2196F3;
}

.footer-contacts-list {
    list-style-type: none; 
  
}
.footer-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
   color: var(--primary-header-color);
    }


.footer-contacts-list :hover,
.footer-contacts-list :focus {
    color: var(--primary-link-color);
}

