:root{
    --primary-header-color:  #FFFFFF;
    --second-header-color: #212121;
    --accent-color: #757575;
    --primary-link-color: 2196F3;
}

body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
a{
    text-decoration: none;
}

/*--------------------HEADER--------------------*/
 
.header-nav {
    background-color: #FFFFFF;
}
.header-logo {
    font-family: 'Raleway', sans-serif
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.header-list {
    color: rgba(0, 0, 0, 0.25);
}
.header-items-studio{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-header-color)

}
.header-items-portfolio{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-link-color)
}

.header-items {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-header-color)

}

.header-contacts-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-link-color)
}
.header-contacts-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color)
}
.header-list-contacts :hover,
.header-list-contacts :focus {
    color: brown;
}
/*--------------------PORTFOLIO--------------------*/
.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: #2196F3;
    cursor: pointer;
}

.portfolio-project-list {
    color: var(--second-header-color)
}


.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--second-header-color)
}

.portfolio-pre-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--second-header-color)
}
/*--------------------MAIN--------------------*/
.main-cap{
    background-color: #2F303A;
}
.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-header-color)

}
.main-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-header-color)
}
.main-btn:hover,
.main-btn:focus {
    background-color: #2196F3;
    cursor: pointer;
}

/*--------------------FEATURE--------------------*/
.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-header-color)
    
    }
    .feature-title-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--accent-color)
    
    }
/*--------------------BOX--------------------*/
.box-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-header-color)
}

/*--------------------TEAM--------------------*/

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-header-color)
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-header-color)
}
.team-work {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--accent-color)
}

/*--------------------FOOTER--------------------*/


.footer {
    background: #2F303A;
}
.footer-logo {
    font-family: 'Raleway', sans-serif
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-contacts-list {
    color: var(--primary-header-color)
}
.footer-contacts-tel{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }
.footer-contacts-mail{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contacts-address{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-contacts-list :hover,
.footer-contacts-list :focus {
    color: orange
}









